body {
background: linear-gradient(pink, red);
font-family: Arial, sans-serif;
text-align: center;
color: white;
}
h1 {
font-size: 3em;
margin-top: 20px;
color: black;
font-weight: bold;
}
section {
margin: 30px;
padding: 20px;
background-color: rgba(255,255, 255,0.2);
border-radius: 20px;
}

img {
width: 200px;
margin: 10px;
border-radius: 15px;
}

button {
background-color: gold;
border: none;
padding: 15px 25px;
font-size: 18px;
border-radius: 20px;
cursor: pointer;
}

button:hover {
    background-color: rgb(253, 105, 162);
}
h2 {
    font-style: italic;
    color: black;
}